    .card__container {
        width: 100%; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 10px;
        color: black;
        text-decoration: none;
        position: relative;
    }
    .card__container img {
        padding: 10px;
        width: 100%;
        height: auto;
        /* object-fit: contain; */
    }
    .button {
        display: none;
        font-weight: 700;
        border: none;
        cursor: pointer;
        background-color: rgb(254, 189, 105);
        width: 100%; 
        height: 40px; 
        margin: 10px 0; 
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .card__container:hover .button{
        display: block;
    }
    .description {
        display: none;
    }
    .rating {
        display: flex;
        align-items: center;
        padding: 10px 0px;
    }
    .products_container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
        max-width: 100%;
        margin: 50px auto; 
        gap: 30px;
        justify-content: center; 
    }
    .products_container section {
        margin: 0 auto;
    }


    .product__flexed {
        box-shadow: none;
        height: auto;
        display: flex;
        gap: 50px;
        width: 100%;
        height: 50vh;
    }
    .product__flexed h3 {
        padding: 20px 0px;
    }
    .product__flexed .button {
        display: block;
        position: static;
        width: 150px;
        height: 5%;
        font-weight: 700;
        border: none;
        cursor: pointer;
        background-color: rgb(254, 189, 105);
    }
    .product__flexed img {
        width: 300px !important;
        height: auto;
    }
    /* .description {
        display: flex;
    } */
    @media screen and (max-width: 768px) {
        .card__container {
            width: 100%; 
        }
        .button {
            width: 100%; 
        }
        .description {
            display: none;
        }
        .product__flexed {
            display: flex;
            flex-direction: column;
            align-items: center; 
            gap: 20px;
        }
    }

